.heading{
    align-items: center;
    margin-top: 2rem ;
    display: flex;
    justify-content: center;
    background-color: #777777;
    color: #FFFFFF;
    height: 35vh;  
}

h1{
    font-size: 4rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight:900;
}

.active{
    text-decoration: underline;
}
